/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #343a40;
  height: 100vh;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}

nav,
section,
main,
aside {
  padding-top: 24px;
}

nav {
  color: #fff;
  background-color: #444;
  grid-row: 1/-1;
}

menu {
  background-color: #7048e8;
  padding: 0 40px;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  gap: 12px;
}

button {
  color: #fff;
  background-color: #5f3dc4;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:last-child {
  background-color: #d6336c;
  margin-left: auto;
}

section {
  background-color: #e9ecef;
  padding: 40px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.email {
  background-color: #adb5bd;
  height: 96px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  background-color: #e9ecef;
}
